<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Aiden Oliver</title>
    <link rel="icon" href="images/favicon_io/favicon.ico">
    <style>
        body {
            background-image: linear-gradient(to right, lightslategray, lightgray);
            height: 100%
        }

        div.gallery {
            border: 1px solid #ccc;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
            background-color: lightblue;
        }

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }

        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }

        @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        img {
            image-orientation: from-image;
        }
    </style>
</head>
<body>

<h2>Our little boy Aiden Oliver Whitaker</h2>

{% for image, image_desc in image_dict.items() %}
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="{{ image }}">
            <img src="{{ image }}" alt="{{ image }}">
        </a>
        {%- if image_desc|length > 0 -%}
        <div class="desc">{{ image_desc }}</div>
        {%- endif -%}
    </div>
</div>
{% endfor %}

<div class="clearfix"></div>

</body>
</html>
